body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-form {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

#notification {
  color: red;
}